<template>
  <div class="row">
    <marketplace-content-setting></marketplace-content-setting>
  </div>
</template>
<script>
  import MarketplaceContentSetting from './marketplaceContentExport/MarketplaceContentSetting.vue'
  export default {
    components: {
      MarketplaceContentSetting,
    }
  }
</script>